{% if diff_oos == false %}
  <div
      id="tuition-calc"
      class="tuition-calc"
      data-totalCreditHours={{totalCreditHours}}
      data-unituition={{uniTuition}}
      data-colltuition={{colltuition}}
      data-unifee={{unifee}}
  ></div>
{% else %}
    <div
        id="tuition-calc"
        class="tuition-calc"
        data-totalCreditHours={{totalCreditHours}}
        data-resunituition={{uniTuition}}
        data-nonresunituition={{nonResUniTuition}}
        data-colltuition={{colltuition}}
        data-unifee={{unifee}}
    ></div>
{% endif %}
