{#{{ dd(totalCreditHours) }}#}
{#{{ dd(unituition) }}#}
{#{{ dd(colltuition) }}#}
{#{{ dd(unifee) }}#}
<div id="tuition-calc" class="tuition-calc" {{ attributes.setAttribute('data-totalCreditHours', totalcredithours).setAttribute('data-unituition', unituition).setAttribute('data-colltuition', colltuition).setAttribute('data-unifee', unifee) }}
></div>
