{#{{ dd(totalCreditHours) }}#}
{#{{ dd(unituition) }}#}
{#{{ dd(colltuition) }}#}
{#{{ dd(unifee) }}#}
<div {{ attributes.addClass('tuition-calc').setAttribute('id', 'tuition-calc').setAttribute('data-totalCreditHours', totalcredithours).setAttribute('data-unituition', unituition).setAttribute('data-colltuition', colltuition).setAttribute('data-unifee', unifee) }}
></div>
