{% set hobsons_form_base_class = hobsons_form_base_class|default('h-form') %}
<div {{ bem(hobsons_form_base_class, (hobsons_form_modifiers), hobsons_form_blockname) }}>
  <h2 {{ bem('title', (''), hobsons_form_base_class) }}>Request Program Information:</h2>
  <form action="">

    <label {{ bem('label', (''), hobsons_form_base_class,['visually-hidden']) }} for="first_name">First Name</label>
    <input id="first_name" {{ bem('field', (''), hobsons_form_base_class) }} type="text" placeholder="First Name">
    <label {{ bem('label', (''), hobsons_form_base_class,['visually-hidden']) }} for="last_name">Last Name</label>
    <input id="last_name" {{ bem('field', (''), hobsons_form_base_class) }} type="text" placeholder="Last Name">
    <label {{ bem('label', (''), hobsons_form_base_class,['visually-hidden']) }} for="email">Email Address</label>
    <input id="email" {{ bem('field', (''), hobsons_form_base_class) }} type="email" placeholder="Email Address">
    <label {{ bem('label', (''), hobsons_form_base_class,['visually-hidden']) }} for="phone">Phone Number</label>
    <input id="phone" {{ bem('field', (''), hobsons_form_base_class) }} type="tel" placeholder="Phone Number">
    <label {{ bem('label', (''), hobsons_form_base_class,['visually-hidden']) }} for="program">Program of Interest</label>
    <select id="program" {{ bem('field', (''), hobsons_form_base_class, ['form-item__select']) }} >
      <option value="" disabled selected>Select Program</option>
      <option value="value 1">Value 1</option>
      <option value="value 2">Value 2</option>
      <option value="value 3">Value 3</option>
      <option value="value 4">Value 4</option>
      <option value="value 5">Value 5</option>
    </select>
    <label {{ bem('label', (''), hobsons_form_base_class,['visually-hidden']) }} for="term">Term</label>
    <select id="term" {{ bem('field', (''), hobsons_form_base_class, ['form-item__select']) }}>
      <option value="" disabled selected>Select Term</option>
      <option value="term 1">Term 1</option>
      <option value="term 2">Term 2</option>
      <option value="term 3">Term 3</option>
      <option value="term 4">Term 4</option>
    </select>
    <button {{ bem('button', (hobsons_form_button_modifiers)) }} type="submit">Request Information</button>
  </form>
</div>